@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Lato:wght@900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgb(8, 8, 8); /*Black*/
  --secondary-color: rgb(255, 0, 0); /*Red*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(223, 223, 115); /*Yellow*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3%;
}

/* ///// */
/* MAIN */
/* /// */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //////////////////////// */
/* PLAY/START-GAME/OVERLAY */
/* ////////////////////// */
.start-game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /*Transparent black*/
  z-index: 100;
  display: flex;
  color: rgb(255, 255, 255); /*White*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* VISIBILITY HIDDEN/VISIBLE */
.hide-overlay {
  visibility: hidden;
}

.show-overlay {
  visibility: visible;
}

.start-game p {
  font-size: 20px;
}

.start-game__btn {
  width: 150px;
  padding: 20px;
  margin-top: 30px;
  font-size: 25px;
  color: var(--secondary-color); /*Red*/
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;
}

/* /////////// */
/* MAIN TITLE */
/* ///////// */
.title {
  font-size: 25px;
  text-align: center;
  /* margin: 15px; */
  margin: 15px 0 auto;
}

/* ////////////// */
/* POKEMON STUFF */
/* //////////// */
.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon__name {
  text-align: center;
  font-size: 25px;
}

.pokemon__img {
  width: 250px;
  border: 1px solid var(--primary-color); /*Black*/
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* disable click while animation */
/* //////////////////// */
/* POINTER EVENT CLASS */
/* ////////////////// */
.disable-click {
  pointer-events: none;
}

/* ///////////////////////// */
/* CORRECT\INCORRECT ANSWER */
/* /////////////////////// */
.correct-answer {
  animation: correct 2s forwards;
}
@keyframes correct {
  from {
    border: 1px solid var(--primary-color); /*Black*/
  }
  to {
    border: 5px solid rgb(4, 255, 0); /*Green*/
  }
}

.incorrect-answer {
  animation: incorrect 2s forwards;
}
@keyframes incorrect {
  from {
    border: 1px solid var(--primary-color); /*Black*/
  }
  to {
    border: 5px solid var(--secondary-color); /*Red*/
  }
}

/* ///////////////// */
/* POKEMON STRENGHT */
/* /////////////// */
.pokemon__strenght {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.5); /*Transparent white\gray*/
  border-radius: 30px;
  color: var(--primary-color); /*Black*/
  padding: 5px;
  opacity: 0;
  z-index: 50;
  position: absolute;
  pointer-events: none;
}
.pokemon-strength-reveal {
  animation: strenth-reveal 2s forwards;
}

@keyframes strenth-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ///////////////////////// */
/* VS-TEXT-BETWEEN-POKEMONS */
/* /////////////////////// */
.vs-text {
  color: var(--secondary-color); /*Red*/
  text-align: center;
  padding-top: 5px;
  width: 75px;
  height: 75px;
  font-size: 50px;
  margin: 10px 0;
}

/* ////// */
/* SCORES*/
/* //// */
.scores {
  font-size: 20px;
  margin-top: auto;
  width: 280px;
  display: flex;
}

.scores__score {
  margin-left: auto;
}

/* ///////// */
/* COMMENTS */
/* /////// */

.comments__text {
  margin-top: 10px;
  text-align: center;
}
.comments__list {
  text-align: center;
  margin: 20px 0 10px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  height: 300px;
  overflow-y: scroll;
}
.comments__list::-webkit-scrollbar {
  width: 10px;
}

li {
  list-style: none;
  margin: 5px;
  font-weight: 700;
}

.win-round {
  color: rgb(65, 151, 71); /* GREEN/WIN */
}
.loss-round {
  color: rgb(255, 0, 0); /* RED/LOSS */
}

/* //////////// */
/* TABLET VIEW */
/* ////////// */
@media (min-width: 768px) {
  body {
    flex-direction: row;
  }
  .pokemon__img {
    width: 275px;
  }
  .comments {
    margin: auto;
    text-align: center;
  }
  .comments__list {
    margin: auto 0;
    width: 400px;
    height: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    white-space: pre-line;
    opacity: 0.6;
    overflow-y: scroll;
  }
  .comments__list:hover {
    opacity: 1;
  }
}

/* ///////////// */
/* DESKTOP VIEW */
/* /////////// */
@media (min-width: 1024px) {
  body {
    padding: 0 100px;
  }
}
